<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} | {{ site.title }}</title>
  
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
</head>
<body>

 <header>
    <div class="logo">
      <a href="/">
        <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="Energie de l'Aum">
      </a>
    </div>
    <nav>
      <a href="{{ '/' | relative_url }}">Accueil</a>
      <a href="{{ '/soins.html' | relative_url }}">Soins</a>
      <a href="#tarifs">Réserver</a>
      <a href="mailto:votre-email@gmail.com">Contact</a>
    </nav>
  </header>

</body>
</html>